<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='hello.css')}}" />
</head>
<body>

<h1>Choose whether the LED is ON or OFF</h1>
<form action="LEDinfo" method="get" id="ledButton">
	<input type="radio" name="LED" value="1">ON<br>
	<input type="radio" name="LED" value="0">OFF
</form>
<button type="submit" form="ledButton" value="Submit">Submit</button>

</body>
</html>